In [1]:
# Reading an excel file using Python
import numpy as np
import pandas as pd
import json

### final dataset shape 
df_names = ["year", "month", "city", "district", "price_riyals", "area_m2", "no_deals", "status", "realstate_cls", "realstate_type"]

## Makkah al-Mukarramah

In [2]:
# read excel file, sheet name 
df_Makkah = pd.read_excel("data/raw/realestate-for-distiricts-on-2018-2019-2020-2021.xlsx", sheet_name=2)

In [3]:
# explore the sheet for studying its structure
df_Makkah.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,المدينة,مكة المكرمة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,حالة العملية(معتمدة/ملغية/..),معتمدة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2018,NaN,NaN,2019,NaN,NaN,2020,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,الأحياء,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات,NaN,NaN,NaN,NaN,NaN
8,حي/1/ 20/ 27,550000,550,1,1670000,844,3,1132313,460,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,يناير,NaN,NaN,NaN,540000,172,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,يوليو,NaN,NaN,NaN,530000,172,1,1132313,460,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,اوغسطس,NaN,NaN,NaN,600000,500,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,نوفمبر,550000,550,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,حي/1/ 29/ 10/ أ,NaN,NaN,NaN,NaN,NaN,NaN,1550000,612.5,1,1700000,612.5,1,NaN,NaN,NaN,NaN,NaN
14,يناير,NaN,NaN,NaN,NaN,NaN,NaN,1550000,612.5,1,1700000,612.5,1,NaN,NaN,NaN,NaN,NaN
15,حي/1/ 32/ 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800000,721.8,1,NaN,NaN,NaN,NaN,NaN
16,مارس,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,800000,721.8,1,NaN,NaN,NaN,NaN,NaN
17,حي/1/ 32/ 16/ أ,NaN,NaN,NaN,NaN,NaN,NaN,300000,600,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,اوغسطس,NaN,NaN,NaN,NaN,NaN,NaN,300000,600,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,حي/45 بطحاء قريش النموذجى,2380000,691.45,4,NaN,NaN,NaN,1390000,368.91,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,يناير,NaN,NaN,NaN,NaN,NaN,NaN,790000,197.15,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,فبراير,700000,161.82,1,NaN,NaN,NaN,600000,171.76,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,مارس,300000,135.33,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,ابريل,1380000,394.3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,حي/أبو مراغ,3125000,2262.67,6,2564900,1812.95,4,1853279,1378,3,1185000,2279,3,NaN,NaN,NaN,NaN,NaN
25,فبراير,550000,394,1,NaN,NaN,NaN,NaN,NaN,NaN,200000,625,1,NaN,NaN,NaN,NaN,NaN
26,مارس,NaN,NaN,NaN,750000,562.5,1,NaN,NaN,NaN,10000,394,1,NaN,NaN,NaN,NaN,NaN
27,ابريل,NaN,NaN,NaN,1199000,394,1,NaN,NaN,NaN,975000,1260,1,NaN,NaN,NaN,NaN,NaN
28,مايو,310000,169.2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,يوليو,1200000,439.47,1,NaN,NaN,NaN,503279,400,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# sheet size
df_Makkah.shape

(6029, 18)

In [5]:
# current columns names
df_Makkah.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [6]:
# current statistics of sheet 
df_Makkah.describe(include = "all")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
count,6025,2965.0,2962.0,2962.0,3162.0,3161.0,3161.0,3327.0,3326.0,3326.0,1256.0,1255.0,1255.0,0.0,0.0,0.0,0.0,0.0
unique,1163,1466.0,2121.0,76.0,1583.0,2238.0,85.0,1658.0,2383.0,90.0,607.0,870.0,58.0,NaN,NaN,NaN,NaN,NaN
top,فبراير,100000.0,400.0,1.0,500000.0,400.0,1.0,350000.0,400.0,1.0,1000000.0,400.0,1.0,NaN,NaN,NaN,NaN,NaN
freq,472,111.0,97.0,1475.0,74.0,115.0,1520.0,63.0,113.0,1648.0,46.0,32.0,602.0,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Saving data before cleaning and reshaping

In [7]:
# retrieving all rows and some columns by iloc method 
df_status = df_Makkah.iloc [3, 1]
df_status

'معتمدة'

In [8]:
# retrieving all rows and some columns by iloc method 
df_city_name = df_Makkah.iloc[2, 1]
df_city_name

'مكة المكرمة'

## Cleaning process

In [9]:
# rename first column to month
df_Makkah = df_Makkah.rename(columns ={df_Makkah.columns[0] : 'month'})
df_Makkah

,month,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,المدينة,مكة المكرمة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,حالة العملية(معتمدة/ملغية/..),معتمدة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6024,سبتمبر,NaN,NaN,NaN,NaN,NaN,NaN,250000,616.24,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025,نوفمبر,NaN,NaN,NaN,NaN,NaN,NaN,300000,310.9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6026,ديسمبر,NaN,NaN,NaN,NaN,NaN,NaN,1360000,1216.3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6027,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000,58029.51,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6028,يوليو,1000000,58029.51,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# adding الأحياء
df_Makkah.insert(loc = 1, column= 'district', value= '')
df_Makkah

,month,district,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,المدينة,,مكة المكرمة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,حالة العملية(معتمدة/ملغية/..),,معتمدة,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6024,سبتمبر,,NaN,NaN,NaN,NaN,NaN,NaN,250000,616.24,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025,نوفمبر,,NaN,NaN,NaN,NaN,NaN,NaN,300000,310.9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6026,ديسمبر,,NaN,NaN,NaN,NaN,NaN,NaN,1360000,1216.3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6027,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,,1000000,58029.51,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6028,يوليو,,1000000,58029.51,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# list of arabic months
months_names = [
    'يناير',
    'فبراير',
    'مارس',
    'ابريل',
    'مايو',
    'يونيو',
    'يوليو',
    'اوغسطس',
    'سبتمبر',
    'اكتوبر',
    'نوفمبر',
    'ديسمبر'
]

In [12]:
# create empty list to save the indexs of district name 
list_redundant =[]

# create a range of number for do the operation at every row in dataset
x = range(8, df_Makkah.shape[0], 1)


for i in x:
    # check if it is district then save this didtric name and it's index
    if (df_Makkah.iloc [i, 0] not in months_names):
        print(df_Makkah.iloc [i, 0], '-----', df_Makkah.index[i])
        temp = df_Makkah.iloc [i, 0]
        list_redundant.append(df_Makkah.index[i])  
        
    # else if it is a month set its district name                      
    elif (df_Makkah.iloc [i, 0] in months_names):
            df_Makkah.iloc [i, 1] = temp

حي/1/ 20/ 27 ----- 8
حي/1/ 29/ 10/ أ ----- 13
حي/1/ 32/ 1 ----- 15
حي/1/ 32/ 16/ أ ----- 17
حي/45 بطحاء قريش النموذجى ----- 19
حي/أبو مراغ ----- 24
حي/أبو مراغ رقم 3 ----- 34
حي/أخرى ----- 36
حي/أم الجود ----- 49
حي/أم الجود مخطط الحمراء ----- 57
حي/أم الراكه بأرض وادى ضيم ----- 59
حي/ابو لهب بمحلة جرول ----- 63
حي/ابو مراغ ----- 65
حي/ابو مراغ رقم 3 ----- 71
حي/ابو مراغ على يمين الذاهب الى المدينة المنورة ----- 76
حي/ابو مراغ على يمين الذاهب الى وادى فاطمه ----- 80
حي/ابى مراغ ----- 85
حي/ابى مراغ على يمين الذاهب الى وادى فاطمه ----- 95
حي/ابى مرو ----- 102
حي/اجياد ----- 104
حي/اجياد المصافى ----- 108
حي/اجياد جبل السبع البنات ----- 112
حي/اجياد دحلة اللبان ----- 117
حي/اجياد ريع بخش ----- 119
حي/اراضى الشوقية ----- 124
حي/اراضى بدر ----- 131
حي/اراضى بدر فيصل ----- 134
حي/ارض الشيخ احمد زينى ----- 137
حي/ارض المرور بالعمرة ----- 141
حي/اضافة جزء من محبس الجن الضفة الشمالية ب ----- 143
حي/اعادة تخطيط وتنضيم ارض الرصيفه الجديده ----- 145
حي/اعادة تخطيط وتنظيم ارض الرصيفة الجديدة ----- 147
حي/اعلى جبل ابو مطشش ----- 149
حي/الأمير عبدالله الفيصل المعتمد ----- 151
حي/الأمير محمد بطحاء قريش النموذجى المعدل ----- 155
حي/الاباء والميسوره ----- 161
حي/الاسكان العام ----- 164
حي/الاسكان العام بالرصيفة ----- 166
حي/الاسكان العام بالرصيفه ----- 179
حي/الاسكان العام بمكة حى الملك فهد ----- 181
حي/الاسكان العام حى الملك فهد ----- 183
حي/الاشراف من محلة جرول ----- 191
حي/الامير احمد ----- 193
حي/الامير احمد بالرصيفة ----- 196
حي/الامير احمد باللاحجه من جهة المسفلة ----- 198
حي/الامير احمد بكدى ----- 200
حي/الامير احمد بن عبدالعزيز بكدى المسفله ----- 212
حي/الامير مشعل بالششه ----- 215
حي/الامير مشعل بن عبدالعزيز خلف المدرسة ----- 217
حي/البحيرات ----- 219
حي/البحيرات امتداد المنطقة الصناعية بالعمرة رقم 2 ----- 232
حي/البحيرات بالطريق المؤدى فاطمة بالمخطط رقم 3 ----- 234
حي/البحيرات طريق الوادى ----- 236
حي/البحيرات على يسار الذاهب الى وادى فاطمة ----- 239
حي/البدر المعدل بكدى رقم 2 ----- 246
حي/البديوى طريق الطائف القديم يمين الذاهب الى الطائف ----- 251
حي/البركة ----- 253
حي/البوابة رقم 1 المعدل التخصصى ----- 255
حي/البوابة رقم 1 حى التخصصى ----- 257
حي/البوابة رقم 11 ----- 259
حي/البوابة رقم 3 ----- 262
حي/البوابة رقم 6 ----- 273
حي/البوابة رقم 8 ----- 276
حي/البوابة رقم واحد التخصصى المعتمد ----- 284
حي/البوابه رقم 7 ----- 287
حي/البوابه رقم 8 ----- 297
حي/التخصصى ----- 304
حي/التخصصى المعتمد ----- 317
حي/التخصصى رقم 1 ----- 330
حي/التنعيم ----- 332
حي/التنعيم 13 ----- 342
حي/التنعيم 4 ----- 344
حي/التنعيم بحى العمرة ----- 357
حي/التنعيم بشعب صايف ----- 360
حي/التنعيم رقم 2 ----- 362
حي/التنعيم رقم 3 ----- 365
حي/التنعيم رقم 4 ----- 378
حي/الجزء الخارج عن صك مخطط الحمراء ----- 391
حي/الجزء الخارج عن صك مخطط فيصل بدر ----- 395
حي/الجزء المتبقى بامتداد حى الزاهر ----- 397
حي/الجزء المتبقى من اراضى الشوقية ----- 399
حي/الجعرانة ----- 411
حي/الجعرانة حى المسرات شرق مسجد الجعرانة ----- 420
حي/الجعرانة حى النور ----- 423
حي/الجعرانة شرق مسجد الجعران ----- 428
حي/الجعرانة شرق مسجد الجعرانة ----- 430
حي/الجعرانة على يمين الذاهب الى مسجد جعرانه ----- 432
حي/الجعرانة يمين الذاهب الى مسجد الجعرانة بحى المسره ----- 435
حي/الجعرانه ----- 437
حي/الجعرانه شرق المسجد ----- 450
حي/الجعرانه شرق مسجد العمره ----- 452
حي/الجعرانه يسار الذاهب الى المسجد ----- 454
حي/الجعرانه يمين الذاهب لمسجد العمرة ----- 456
حي/الجميزه جبل العدادين حارة بيشه ----- 458
حي/الجميزه حارة الجوابره ----- 460
حي/الجهة الغربية بحى العزيزية ----- 462
حي/الجهة الغربية بحى العزيزية خلف مدرسة العزيزية ----- 466
حي/الجهوه وادى دفاق ----- 468
حي/الحسينية ----- 470
حي/الحسينية القرعاء ----- 483
حي/الحسينية حارة الشنابرة ----- 491
حي/الحسينية دحلة الغزاله ----- 500
حي/الحفائر ----- 502
حي/الحفائر طلعة الخزان ----- 506
حي/الحفائر محلة الباب ----- 508
حي/الحفاير ----- 511
حي/الحفاير شارع جرهم المؤدى الى الطندباوى ----- 516
حي/الحفاير فى حدود الطندباوى ----- 518
حي/الحفاير محلة حارة الباب ----- 520
حي/الحفاير من محلة الباب ----- 523
حي/الحمراء ----- 525
حي/الحمراء الاضافى المعدل ----- 538
حي/الحمراء المعتمد ----- 543
حي/الحمراء الواقع على يمين الذاهب الى جدة ----- 546
حي/الحمراء الواقع على يمين الذاهب الى جدة الطريق ----- 549
حي/الحمراءالواقع على يمين الذاهب الى جدةالطريق السريع ----- 554
حي/الخالدية الجزء رقم واحد ----- 557
حي/الخالدية بالهنداوية ----- 562
حي/الخالدية بجزئية رقم 2،1 الواقع بالرصيفة خلف شارع ا ----- 565
حي/الخالدية بجزئية رقم 21 الواقع بالرصيفة ----- 567
حي/الخالدية بجزئيه رقم 1 و 2 الواقع بالرصيفه ----- 569
حي/الخالدية تقسيم رقم 2 المعدل ----- 571
حي/الخالدية رقم 1 ----- 574
حي/الخالدية رقم 2 ----- 578
حي/الخالدية رقم 2 المعدل ----- 582
حي/الخالديه بجزائيه1و2 فى الرصيفة خلف شارع المنصور ----- 585
حي/الخالديه رقم 2 ----- 588
حي/الخانسة شرق كبرى شارع الحج بمخطط النور النموذجى ----- 601
حي/الخانسة مما يلى خريق العشر ----- 603
حي/الخانسه ----- 606
حي/الخضراء ----- 608
حي/الخضراء المعتمد ----- 615
حي/الخضراء المعدل ----- 622
حي/الخضراء بطريق الطائف القديم والمعدل ----- 634
حي/الخضراء يمين الذاهب الى الطائف من طريق السيل ----- 646
حي/الخضراء يمين الذاهب لبئر الغنم من النوارية ----- 652
حي/الخياط ----- 654
حي/الرأفه ----- 657
حي/الراشدية ----- 665
حي/الراشدية جنوب شرائع المجاهدين يمين الذاهب للطائف ----- 678
حي/الراشدية خلف محطة الهاشمى ----- 680
حي/الراشدية رقم 1 ----- 685
حي/الراشدية رقم 2 ----- 688
حي/الراشدية يسار الذاهب لعرفه من طريق السيل ----- 701
حي/الراشدية/ 1/ 20/ 58 ----- 704
حي/الراشديه ----- 717
حي/الراشديه رقم 2 ----- 726
حي/الرافة ----- 739
حي/الربط بين المسفلة 12 والمسفلة 11 و 10/ 2 ----- 746
حي/الربط بين بين المسفلة 12 والمسفلة11 ----- 749
حي/الرصيفة ----- 751
حي/الرصيفة الجديد ----- 758
حي/الرصيفة الجديدة ----- 762
حي/الرصيفة الجديده ----- 766
حي/الرصيفة المعدل ----- 772
حي/الرصيفة الهنداوية ----- 776
حي/الرصيفة حى الزهارين ----- 778
حي/الرصيفه ----- 780
حي/الرصيفه الجديده المعدل ----- 782
حي/الرصيفه المعتمد ----- 795
حي/الرصيفه المعدل ----- 798
حي/الروضة من محلة المعابدة ----- 801
حي/الروضه ----- 803
حي/الريان ----- 805
حي/الزاهر ----- 813
حي/الزاهر بجبال ملحه ----- 826
حي/الزاهر خلف البيبان محلة جرول ----- 828
حي/الزاهر شارع الحج ----- 831
حي/الزاهر شرق شارع الحج خلف محطة الهرم ----- 834
حي/الزاهر شعبة ملقيه ----- 838
حي/الزاهر وادى بشم ----- 840
حي/الزهراء ----- 843
حي/السبهانى بالمسفله ----- 853
حي/السفيانى رقم 4 ----- 855
حي/السلامة ----- 861
حي/السلامة ام الجود ----- 865
حي/السلولى ----- 867
حي/السليمانيه ----- 872
حي/الشامية ----- 875
حي/الشبيكة ----- 877
حي/الشبيكة جبل عمر ----- 884
حي/الشرائع ----- 886
حي/الشرائع 11 ----- 896
حي/الشرائع 11 المعدل ----- 900
حي/الشرائع 12 ----- 911
حي/الشرائع 15 ----- 924
حي/الشرائع 4 ----- 937
حي/الشرائع 5 ----- 939
حي/الشرائع 7 ----- 952
حي/الشرائع 9 ----- 963
حي/الشرائع اضافات ----- 969
حي/الشرائع العليا يمين الذاهب الى الطائف ----- 971
حي/الشرائع المجاهدين ----- 974
حي/الشرائع المعدل رقم 11 ----- 980
حي/الشرائع بمخطط الجديد للجزء من مخطط المنح رقم 2 ----- 983
حي/الشرائع رقم 1 ----- 985
حي/الشرائع رقم 1 المعدل ----- 993
حي/الشرائع رقم 10 ----- 996
حي/الشرائع رقم 11 ----- 1009
حي/الشرائع رقم 11 المعدل ----- 1022
حي/الشرائع رقم 12 ----- 1024
حي/الشرائع رقم 14 ----- 1036
حي/الشرائع رقم 15 ----- 1049
حي/الشرائع رقم 17 ----- 1062
حي/الشرائع رقم 2 ----- 1070
حي/الشرائع رقم 2 المعدل ----- 1083
حي/الشرائع رقم 3 ----- 1088
حي/الشرائع رقم 4 ----- 1092
حي/الشرائع رقم 7 ----- 1104
حي/الشرائع رقم 7 المعدل ----- 1116
حي/الشرائع رقم 8 ----- 1119
حي/الشرائع رقم 9 ----- 1121
حي/الشرائع رقم 9 اضافات ----- 1134
حي/الشرائع رقم 9 اضافات التكميلى ----- 1141
حي/الشرائع رقم 9 المعدل ----- 1145
حي/الشرائع رقم خمسة ----- 1155
حي/الشرائع رقم خمسه الاضافى ----- 1165
حي/الشرائع على يمين الذاهب الى الطائف من طريق السيل ----- 1175
حي/الشرائع قرية الراشدية ----- 1177
حي/الشرائع للمنح 17 ----- 1180
حي/الشرايع 11 اضافات ----- 1187
حي/الشرايع رقم 10 ----- 1196
حي/الشرق ----- 1205
حي/الششة ----- 1208
حي/الششه ----- 1212
حي/الششه الشماليه ----- 1216
حي/الششه الفيصلية ----- 1218
حي/الشميسى ----- 1222
حي/الشميسى على يسار الذاهب لجده ----- 1233
حي/الشميسى على يسار الذاهب لجده بالطريق القديم ----- 1236
حي/الشميسى يسار الذاهب لجده الخط القديم ----- 1246
حي/الشهداء ----- 1252
حي/الشهداء طريق العشر مخطط بشم ----- 1262
حي/الشهداء طريق العمرة ----- 1266
حي/الشهداء طريق خريص العشر بمخطط بشم الوادى ----- 1268
حي/الشهداء طريق خريق العشر ----- 1270
حي/الشوقية ----- 1272
حي/الشوقية بوادى ابراهيم الخليل عليه السلام ----- 1285
حي/الصبان ----- 1297
حي/الصبان المعدل ----- 1307
حي/الصفوة ----- 1311
حي/الصناعات الخفيفة 1 ----- 1323
حي/الصناعية بالتنعيم درجتها الثانيه ----- 1325
حي/الصهوه طريق بئر الغنم على يمين الذاهب الى جعرانة ----- 1332
حي/الضفة الشرقية ----- 1334
حي/الضفة الشرقية بحى العزيزية ----- 1338
حي/الضفة الشرقية س د ----- 1340
حي/الضفة الشمالية محبس الجن ----- 1343
حي/الضفة الشمالية/ ب ----- 1345
حي/الضفة العربيه تقسيم 4 ----- 1347
حي/الضفة الغربية العزيزية/ 4 ----- 1349
حي/الضفة الغربية بالعزيزية ----- 1357
حي/الضفة الغربية تقسم 4 ----- 1361
حي/الضفه الشماليه ب بالعزيزيه ----- 1367
حي/الضيافة المعتمد ----- 1369
حي/الضيافة الواقع بامتداد حى الزاهر ----- 1371
حي/الطندباوى ----- 1374
حي/الطندباوى بالحفاير ممايلى جرول ----- 1383
حي/الطندباوى بالقرب من شارع الحفائر ----- 1385
حي/الطندباوى جبل الشراشف ----- 1387
حي/الطندباوى حارة الفلاته ----- 1389
حي/الطندباوى حارة الفلاته من محلة جرول ----- 1392
حي/الطندباوى خلف المطبعة الوطنية ----- 1394
حي/الطندباوى خلف شارع المنصور ----- 1396
حي/الطندباوى شارع الحفاير ----- 1399
حي/الطندباوى من محلة جرول ----- 1401
حي/العابدية ----- 1406
حي/العتيبية ----- 1408
حي/العتيبية اللصوص ----- 1416
حي/العتيبية بجرول ----- 1423
حي/العتيبية شعبة الضبع ----- 1425
حي/العتيبية شعبة المغاربة ----- 1427
حي/العتيبية محلة جرول ----- 1430
حي/العتيبية من محلة جرول ----- 1432
حي/العتيبيه ----- 1434
حي/العتيبيه ريع اللصوص ----- 1444
حي/العدل ----- 1447
حي/العزيزية ----- 1449
حي/العزيزية الجهة الشرقية ----- 1459
حي/العزيزية الشرقية ج ----- 1463
حي/العزيزية الشمالية ----- 1465
حي/العزيزية الشمالية أ اضافات محبس الجن ----- 1470
حي/العزيزية الضفة الشرقية ----- 1472
حي/العزيزية الضفة الشرقية ج ----- 1480
حي/العزيزية الضفة الشرقية س د ----- 1488
حي/العزيزية الضفة الشرقية س/ د ----- 1491
حي/العزيزية الضفة الشرقية/ س د ----- 1494
حي/العزيزية الضفة الشرقية/ س/ د ----- 1496
حي/العزيزية الضفة الشمالية ----- 1498
حي/العزيزية الضفة الشمالية أ ----- 1504
حي/العزيزية الضفة الشمالية ب ----- 1514
حي/العزيزية الضفة الغربية ----- 1518
حي/العزيزية الضفة الغربية ب ----- 1531
حي/العزيزية الضفة الغربية ج ----- 1534
حي/العزيزية الضفة الغربية ج مخطط الكازينو ----- 1536
حي/العزيزية الضفة الغربية رقم 4 ----- 1538
حي/العزيزية الضفة الغربيةالمعتمد ----- 1540
حي/العزيزية الضفه الشرقيه ----- 1542
حي/العزيزية العام ----- 1544
حي/العزيزية امتداد الضفة الشرقية س-د اضافات ----- 1548
حي/العزيزية خلف المدرسة ----- 1551
حي/العزيزية خلف المدرسة التكميلى ----- 1562
حي/العزيزية خلف المدرسة التكميلى المعتمد ----- 1566
حي/العزيزية محبس الجن ----- 1579
حي/العزيزية محبس الجن اضافات ----- 1581

حي/العزيزيه الشماليه ----- 1594
حي/العزيزيه الشماليه ب ----- 1596
حي/العزيزيه الضفه الغربيه ----- 1599
حي/العزيزيه العام ----- 1601
حي/العزيزيه الغربيه ----- 1603
حي/العسيلة ----- 1605
حي/العسيلة باسم مخطط الشرق ----- 1618
حي/العسيلة منح ----- 1626
حي/العسيله ----- 1630
حي/العقوبه جنوب مكه ----- 1633
حي/العكاشية ----- 1635
حي/العكيشيه ----- 1639
حي/العمرة 11 ----- 1644
حي/العمرة ابى مراغ ----- 1656
حي/العمرة اضافات خلف باشراحيل ----- 1666
حي/العمرة الجديد ----- 1668
حي/العمرة الجديد بالمخطط الجديد الدرجة الثانية ----- 1681
حي/العمرة الجديد درجتها الثانية ----- 1687
حي/العمرة الجديد رقم 3 ----- 1689
حي/العمرة الجديدة ----- 1694
حي/العمرة الجديدة رقم 1 ----- 1704
حي/العمرة الجديدة رقم 3 ----- 1707
حي/العمرة الجديدة رقم 6 ----- 1717
حي/العمرة الجديدة مخطط 1ودرجتها الثانية ----- 1728
حي/العمرة الجديدة ودرجتها الثالثة ----- 1731
حي/العمرة العام ----- 1733
حي/العمرة المخطط الجديد ----- 1738
حي/العمرة المسمى بالمشمس ----- 1742
حي/العمرة المعدل رقم 1 ----- 1744
حي/العمرة المعدل رقم 6 ----- 1747
حي/العمرة المعدل رقم 8 ----- 1760
حي/العمرة المنطقة الصناعية ----- 1762
حي/العمرة النموذجى رقم 1 ----- 1770
حي/العمرة امتداد المنطقه الصناعيه ----- 1776
حي/العمرة خلف المعهد المهنى ----- 1781
حي/العمرة خلف باشراحيل ----- 1783
حي/العمرة رقم 1 ----- 1786
حي/العمرة رقم 11 ----- 1788
حي/العمرة رقم 11 المعدل ----- 1800
حي/العمرة رقم 12 ----- 1807
حي/العمرة رقم 2 ----- 1810
حي/العمرة رقم 3 ----- 1812
حي/العمرة رقم 4 ----- 1819
حي/العمرة رقم اربعة ----- 1821
حي/العمرة على يسار الذاهب الى المدينة بوادى باج ----- 1823
حي/العمرة/ 1/ 32/ 16/ أ ----- 1826
حي/العمره ----- 1839
حي/العمره 11 المعدل ----- 1848
حي/العمره اضافات ----- 1850
حي/العمره الجديد ----- 1852
حي/العمره الجديد رقم 1 ----- 1865
حي/العمره الجديد رقم 3 ----- 1868
حي/العمره الجديدة المعتمد ----- 1880
حي/العمره الجديده ----- 1882
حي/العمره الجديده درجتها الثانيه ----- 1886
حي/العمره المخطط الجديد ----- 1891
حي/العمره المخطط الجديد درجتها الثالثة ----- 1894
حي/العمره المعدل ----- 1900
حي/العمره المعدل باشراحيل ----- 1904
حي/العمره المعدل رقم 6 ----- 1912
حي/العمره المعدل رقم 8 ----- 1924
حي/العمره النموذجى ----- 1933
حي/العمره النموذجى رقم 1 ----- 1942
حي/العمره الودينيه على يسار الذاهب الى وادى فاطمه ----- 1949
حي/العمره باشراحيل ----- 1951
حي/العمره باشراحيل اضافات ----- 1953
حي/العمره بالبحيرات ----- 1960
حي/العمره رقم 12 ----- 1964
حي/العمره رقم 3 ----- 1976
حي/العمره رقم 9 ----- 1981
حي/العمره شعبة الحروب ----- 1990
حي/الغزالة على يسار الذاهب الى المدينة ----- 1992
حي/الغزالة على يسار الذاهب الى وادى فاطمة ----- 1997
حي/الغسالة ----- 1999
حي/الغسالة الششة الشمالية بمكة ----- 2011
حي/الغسالة المعابدة ----- 2013
حي/الغسالة رقم 2 ----- 2015
حي/الغسالة رقم 4 ----- 2017
حي/الغسالة رقم 4 المعدل ----- 2023
حي/الغساله رقم 1 ----- 2025
حي/الغويرات خلف محطة البديوى ----- 2027
حي/الفجيج شرق طريق وادى فاطمة ----- 2032
حي/الفلاته بجرول ----- 2036
حي/الفهد المعدل بالشرائع ----- 2038
حي/الفيحاء ----- 2051
حي/القوبعية وادى بنى عمير ----- 2064
حي/الكازنو ----- 2066
حي/الكبيره السوداء من جهة الغرب جنوب خط الخواجات ----- 2068
حي/الكدوة ----- 2070
حي/الكر ----- 2072
حي/الكر خلف الجوازات على يمين الذاهب الى الطائف ----- 2075
حي/الكر على يمين الذاهب الى الطائف ----- 2081
حي/الكعكية حارة الجاوه ----- 2085
حي/اللابا والمسيورة ----- 2087
حي/اللابا والميسوره ----- 2089
حي/اللاباء والميسوره ----- 2096
حي/اللالجه من جهة المسفلة بمكة المسماه البقرة ----- 2098
حي/اللحيانية ----- 2100
حي/اللقيطة من المخطط رقم خمسة المعدل للورش ----- 2112
حي/المحمديه ----- 2115
حي/المخطط التفصيلى لحى النزهة ----- 2128
حي/المخطط العام لحى الزهراء ----- 2130
حي/المخطط العام للضفة الغربية بالعزيزية ----- 2132
حي/المخطط العام للضفة الغربية بالعزيزية تقسيم 1 ----- 2135
حي/المخطط العام للضفة الغربية بالعزيزية تقسيم رقم 4 ----- 2139
حي/المخطط العام للضفة الغربية تقسيم 1 ----- 2145
حي/المخطط العام للضفة الغربية تقسيم 3 ----- 2152
حي/المخطط العام للضفة الغربية رقم 1 ----- 2154
حي/المخطط العام للضفة الغربيه تقسيم 1 بالعزيزيه ----- 2156
حي/المخطط العام للضفةالغربيةباالعزيزيةتقسم3 المعدل ----- 2160
حي/المروة بالعمرة ----- 2162
حي/المسارب شرق طريق اليث ----- 2165
حي/المسفلة ----- 2167
حي/المسفلة 10/ 1 ----- 2180
حي/المسفلة 10/ 7 ----- 2186
حي/المسفلة 11 جنوب 3 غرب 4 عبده خضرى ----- 2188
حي/المسفلة 11 جنوب 3ب غرب 4 ----- 2191
حي/المسفلة 12 ----- 2196
حي/المسفلة ابو شدادين ----- 2202
حي/المسفلة التجميعى المعدل ----- 2205
حي/المسفلة الجنوبية رقم واحد ----- 2215
حي/المسفلة الكدوه ----- 2217
حي/المسفلة الواقع فى جزأى 10/ 11/ 2 ----- 2225
حي/المسفلة الواقع فى جزئى 10/ 11/ 2 ----- 2227
حي/المسفلة الواقع فى جزائى 10/ 11 ----- 2234
حي/المسفلة بقرب جبل ابى شدادين ----- 2236
حي/المسفلة بكدى ----- 2238
حي/المسفلة بوادى السلولى ----- 2244
حي/المسفلة بوادى السلولى مخطط المحمديه ----- 2247
حي/المسفلة جبل ابو شدادين ----- 2249
حي/المسفلة جزئى 10/ 11 ----- 2257
حي/المسفلة حارة الاشراف ----- 2259
حي/المسفلة حارة الرشد ----- 2267
حي/المسفلة دحلة الرشد ----- 2269
حي/المسفلة رقم 1 ----- 2271
حي/المسفلة رقم 10 المعدل ----- 2273
حي/المسفلة رقم 10 المعدل المعتمد ----- 2276
حي/المسفلة رقم 11 ----- 2278
حي/المسفلة رقم 12 ----- 2289
حي/المسفلة رقم 3 ----- 2302
حي/المسفلة رقم 4 ----- 2304
حي/المسفلة طريق اليمن ----- 2315
حي/المسفلة مخطط الامير احمد بكدى ----- 2317
حي/المسفلة مصانع الطوب الاحمر ----- 2319
حي/المسفلة من جزئى 10/ 11 ----- 2321
حي/المسفلة/ 10/ 3 ----- 2325
حي/المسفله ----- 2333
حي/المسفله الجنوبيه العكيشه حارة خزاعه ----- 2342
حي/المسفله الوافع فى جزىى 10 و 11/ 2 ----- 2344
حي/المسفله الواقع فى جزئى 10/ 11/ 2 ----- 2346
حي/المسفله جزى 10/ 11 ----- 2352
حي/المسفله دحلة ابو طبنجه ----- 2358
حي/المسفله رقم 2 ----- 2361
حي/المسفله قوز النكاسه ----- 2374
حي/المشرفة بالطندباوى ----- 2380
حي/المشمس الكائن بالنوارية ----- 2382
حي/المشمس الواقع بالنواريةعلى يسار الذاهب لوادى فاطمة ----- 2386
حي/المصافى من محلة اجياد ----- 2388
حي/المعابدة ----- 2390
حي/المعابدة الجميزة حارة الكوشه ----- 2403
حي/المعابدة الجميزة حارة بيشة ----- 2405
حي/المعابدة الخانسة ----- 2407
حي/المعابدة الملاوى ----- 2414
حي/المعابدة الملاوى جبل خندمة ----- 2423
حي/المعابدة بالجميزة ----- 2425
حي/المعابدة بالخندرية ----- 2429
حي/المعابدة بالشرقاوية ----- 2431
حي/المعابدة بالغسالة ----- 2433
حي/المعابدة بالكندرة ----- 2436
حي/المعابدة بجبل القلعة ----- 2438
حي/المعابدة بحى الروضة ----- 2440
حي/المعابدة بوادى جليل ----- 2442
حي/المعابدة تحت جبل النور ----- 2445
حي/المعابدة حارة اكلب ----- 2447
حي/المعابدة حارة لقيطة ----- 2450
حي/المعابدة دحلة ضبع ----- 2453
حي/المعابدة رقم 2 ----- 2457
حي/المعابدة رقم 5 المعدل ورش اضافات ----- 2460
حي/المعابدة ريع ذاخر ----- 2462
حي/المعابدة ريع ذاخر المخطط رقم اثنان ----- 2471
حي/المعابدة شارع الحج ----- 2475
حي/المعابدة شرق شارع الحج ----- 2480
حي/المعابدة شعبة الاجابة ----- 2487
حي/المعابدة شمال شارع الحج بحارة لقيطة ----- 2489
حي/المعابده الخانسه ----- 2492
حي/المعابده بالششه ----- 2497
حي/المعابده حارة لقيطة غرب شارع الحج ----- 2499
حي/المعابده حى الغساله ----- 2501
حي/المعابده دحلة الضبع غرب جبل النور ----- 2504
حي/المعابده ريع ذاخر ----- 2507
حي/المعيصم ----- 2511
حي/المعيصم المعدل ----- 2524
حي/المعيصم على يمين الذاهب الى الطائف ----- 2532
حي/المعيصم للورش ----- 2535
حي/المغمس ----- 2537
حي/المقرح ----- 2543
حي/الملاوى ----- 2546
حي/الملاوى فى المعابده ----- 2548
حي/الملاوى من محلة المعابدة ----- 2551
حي/المنح بالعمرة ----- 2553
حي/المنطقة الصناعية ----- 2555
حي/المنطقة الصناعية بالتنعيم ----- 2558
حي/المنطقة الصناعية بالتنعيم مخطط ب ----- 2564
حي/النبعة ----- 2566
حي/النبعة خلف المعهد المهنى ----- 2573
حي/النبعة على يمين الذاهب الى وادى فاطمة ----- 2575
حي/النبعة يمين الذاهب الى وادى فاطمة ----- 2582
حي/النبعه خلف مركز التدريب المهنى ----- 2585
حي/النخيل 2 ----- 2587
حي/النزهة ----- 2595
حي/النزهة النموذجى ----- 2599
حي/النزهة النموذجى التكميلى ----- 2604
حي/النسيم ----- 2608
حي/النسيم اضافات ----- 2613
حي/النسيم المعدل ----- 2621
حي/النسيم المعدل المعتمد ----- 2632
حي/النوارية ----- 2634
حي/النوارية الشرقية ----- 2647
حي/النوارية المعدل ----- 2651
حي/النوارية المعدل رقم 8 ----- 2654
حي/النوارية بالوسيعة ----- 2656
حي/النوارية رقم 2 ----- 2658
حي/النوارية على يسار الذاهب الى وادى فاطمة ----- 2670
حي/النوارية على يمين الذاهب الى وادى فاطمة ----- 2678
حي/النوارية منح رقم 2 ----- 2686
حي/النواريه ----- 2688
حي/النور النموذجى للورش ----- 2692
حي/النور النموذجى للورش المعتمد ----- 2699
حي/النورية بوادى ابو سبعه يمين الذاهب لوادى فاطمة ----- 2703
حي/النورية على يمين الذاهب الى وادى فاطمه ----- 2709
حي/الهتيماء الوسيعة يمين الذاهب للمدينة ----- 2712
حي/الهتيماء الوسيعه ----- 2718
حي/الهجالية بطريق جده ----- 2720
حي/الهجلة ----- 2722
حي/الهجلة شارع ابراهيم الخليل ----- 2724
حي/الهدى ----- 2726
حي/الهدى التجميعى ----- 2739
حي/الهدى طريق مكة جدة السريع ----- 2748
حي/الهنداوية ----- 2751
حي/الهنداوية الغربية حى الزهارين ----- 2763
حي/الهنداوية بجبل الغراب ----- 2765
حي/الهنداوية بجرول ----- 2767
حي/الهنداوية جنوب شارع ام القرى ----- 2769
حي/الهنداوية جنوب محطة المعطانى ----- 2771
حي/الهنداوية خلف البنك العربى ----- 2773
حي/الهنداوية خلف الهلال الأحمر ----- 2775
حي/الهنداوية خلف الهلال الاحمر بشارع المنصور ----- 2777
حي/الهنداوية خلف شارع المنصور ----- 2779
حي/الهنداوية خلف شارع المنصور جنوب محطة المعطانى ----- 2789
حي/الهنداوية خلف شارع المنصور خلف محطة المعطانى ----- 2792
حي/الهنداوية خلف شارع المنصور شمال الهلال الاحمر ----- 2794
حي/الهنداوية شارع الستين ----- 2796
حي/الهنداوية شارع المنصور ----- 2798
حي/الهنداوية شارع منصور ----- 2801
حي/الهنداوية غرب شارع المنصور ----- 2805
حي/الهنداوية/ 1/ 13/ 3 ----- 2807
حي/الواقع شمال شرق جبل النور ----- 2812
حي/الورش بشارع الحج ----- 2816
حي/الورش والمستودعات ----- 2818
حي/الورش والمستودعات بالوسيق ----- 2822
حي/الورش والمستودعات بوادى جليل ----- 2824
حي/الوسيعة بالنوارية ----- 2829
حي/الوسيعه على يمين الذاهب الى المدينة ----- 2832
حي/الوسيعه على يمين الذاهب لوادى فاطمة ----- 2834
حي/الوسيق المعدل ----- 2836
حي/الوسيق على يسار الذاهب الى جدة ----- 2840
حي/الوسيق على يسار الذاهب من مكة الى جدة الطريق الجدى ----- 2842
حي/الوسيق على يسار الذاهب من مكة الى جدةالطريق الجديد ----- 2849
حي/الوسيق على يسار الذاهب من مكة الى جدةالطريق السريع ----- 2855
حي/الوسيق على يسار الذاهب من مكة لجدة ----- 2861
حي/الوسيق على يسار الذاهب من مكةلجدةللورش والمستودعات ----- 2864
حي/الوسيق على يسار الذاهب من مكه لجده ----- 2868
حي/الوسيق على يمين الذاهب الى جده من الخط السريع ----- 2874
حي/الوسيق للورش والمستودعات ----- 2876
حي/الوسيق للورش والمستودعات يسار الذاهب من مكةالى جدة ----- 2879
حي/الوسيق يسار الذاهب من مكه لجده للورش والمستودعات ----- 2882
حي/الوسيق يسارالذاهب من مكه لجدة الطريق الجديد السريع ----- 2887
حي/ام الجرفان من اعمال مكة ----- 2890
حي/ام الجود ----- 2901
حي/ام الجود على يسار الذاهب الى جده ----- 2903
حي/ام الدرج ----- 2906
حي/ام السدارة الواقعة على درب السلولى ----- 2911
حي/ام القرى المعتمد ----- 2913
حي/ام الكتاد ----- 2919
حي/ام قضب على يمين الذاهب الى جده من الطريق الدائرى ا ----- 2932
حي/امتداد البدر بكدى ----- 2934
حي/امتداد البدربكدى ----- 2936
حي/امتداد الرصيفة ----- 2939
حي/امتداد الزاهر ----- 2941
حي/امتداد الزاهر اضافات ----- 2945
حي/امتداد الزاهر اضافات المعدل ----- 2947
حي/امتداد الزهراء ----- 2953
حي/امتداد الشرائع رقم 7 ----- 2955
حي/امتداد الصرافية وادى سرف اللحيانية ----- 2959
حي/امتداد الصناعية ----- 2968
حي/امتداد الضفة الشرقية س د ----- 2971
حي/امتداد الضفه الشرقيه س/ د ----- 2975
حي/امتداد العسيلة للمنح ----- 2977
حي/امتداد الفيحاء ----- 2980
حي/امتداد المنطقة الصناعية ----- 2983
حي/امتداد المنطقة الصناعية بالبحيرات رقم 2 ----- 2987
حي/امتداد المنطقة الصناعية بالتنعيم ----- 2989
حي/امتداد المنطقة الصناعية رقم 2 ----- 2993

حي/امتداد المنطقة الصناعية رقم2 ----- 2995
حي/امتداد المنطقه الصناعيه رقم 2 ----- 2999
حي/امتداد ام الجود ----- 3002
حي/امتداد حى الزاهر ----- 3015
حي/امتداد مخطط ولى العهد رقم 1 ----- 3021
حي/امتداد مخطط ولى العهد رقم 5 ----- 3031
حي/امتداد مخطط ولى العهد للمنح رقم 5 ----- 3042
حي/امتداد منح ابو مراغ ----- 3052
حي/امتداد منح الشرائع 7 ----- 3057
حي/امتداد منح الغسالة ----- 3059
حي/امتداد ولى العهد ----- 3062
حي/امتداد ولى العهد رقم 5 ----- 3065
حي/بئر الغنم ----- 3077
حي/بئر الغنم على يمين الذاهب للجعرانة ----- 3089
حي/بئر الغنم على يمين الذاهب للجعرانة من النوارية ----- 3093
حي/بئر بليلة من محلة جياد ----- 3099
حي/بابى مرو ----- 3101
حي/باشراحيل اضافات ----- 3103
حي/بدر ----- 3105
حي/بدر بكدى ----- 3108
حي/بشم ----- 3110
حي/بطحاء قريش ----- 3120
حي/بطحاء قريش 1 ----- 3133
حي/بطحاء قريش الاضافى ----- 3141
حي/بطحاء قريش الايضافات ثلاثة ----- 3143
حي/بطحاء قريش الجزء الثانى اضافات ----- 3156
حي/بطحاء قريش المعتمد ----- 3162
حي/بطحاء قريش المعدل ----- 3174
حي/بطحاء قريش النموذجى ----- 3182
حي/بطحاء قريش النموذجى المعدل ----- 3195
حي/بطحاء قريش النموذجى رقم 2 ----- 3201
حي/بطحاء قريش نموذجى ----- 3203
حي/بطحاءقريش ----- 3215
حي/بطريق اليمن بالقرب من الشوقيه ----- 3224
حي/بمخطط جنوب المسفله رقم (2) ----- 3228
حي/بمخطط ولى العهد رقم 8 ----- 3231
حي/بن عمران ----- 3233
حي/بين التنعيم والعمرة والمنطقة الصناعية ----- 3243
حي/تخطيط أراضى فيصل بدر بالنزهة ----- 3245
حي/تخطيط أرض العمرة معدل ----- 3252
حي/تخطيط أرض بنى عمير الموقع رقم 1 المعدل ----- 3254
حي/تخطيط اراضى العمرة المعدل ----- 3256
حي/تخطيط اراضى فيصل بدر الواقعه بين المنجورة والهجيلة ----- 3258
حي/تخطيط ارض العمرة المعدل ----- 3261
حي/تخطيط ارض العمرة معدل ----- 3263
حي/تخطيط منطقة حى المسفلة 11 جنوب 3 غرب 4 ----- 3265
حي/تعديل المخطط العام لحى الفيصلية ----- 3267
حي/تعديل المخطط العام لحى الفيصلية الششة المعتمد ----- 3269
حي/تعديل جزء من مخطط بطحاء قريش اضافات 3 ----- 3272
حي/تعديل مخطط المسفله11 جنوب 3 غرب 4 ----- 3275
حي/تعديل واضافة جزء من مخطط جنوب العزيزية رقم 6 ----- 3280
حي/تقسيم أراضى المطلق والجفرى بشارع الحج ----- 3282
حي/تقسيم أرض الشيخ محمد صالح باشراحيل ----- 3291
حي/تقسيم أرض العمرة ----- 3293
حي/تقسيم أرض بن عمران ----- 3298
حي/تقسيم أرض سمو الأمير أحمد بكدى ----- 3303
حي/تقسيم ارض العمرة مخطط العمره العام ----- 3311
حي/تقسيم ارض سمو الامير احمد بن عبدالعزيز ----- 3315
حي/تقسيم قطع بمخطط العوالى ----- 3318
حي/جبل الحفائر المطل على الطندباوى ----- 3329
حي/جبل الحفائر من محلة حارة الباب ----- 3331
حي/جبل الحفاير ----- 3334
حي/جبل الحفاير من محلة الباب ----- 3337
حي/جبل السبع البنات باجياد ----- 3339
حي/جبل السيدة ----- 3341
حي/جبل السيدة خديجة ----- 3348
حي/جبل الشراشف ----- 3350
حي/جبل الغراب بجرول ----- 3352
حي/جبل الكعبة ----- 3354
حي/جبل النور ----- 3356
حي/جبل النور المعدل ----- 3364
حي/جبل ثور ----- 3373
حي/جبل خندمه شعب عامر ----- 3376
حي/جبل دفان بمحلة السليمانية ----- 3379
حي/جبل عمر ----- 3381
حي/جبل قرمان بشعب عامر ----- 3385
حي/جرول ----- 3387
حي/جرول الحفاير ----- 3400
حي/جرول الهنداوية ----- 3402
حي/جرول بالعتيبية ----- 3405
حي/جرول بمحلة الطندباوى ----- 3409
حي/جرول جبل جحيشة ----- 3411
حي/جرول خلف شارع المنصور ----- 3413
حي/جرول شعبة الغاربة ----- 3415
حي/جرول شعبة المغاربة ----- 3417
حي/جزء المتبقى بارض الشوقيه بوادى ابراهيم علية السلام ----- 3419
حي/جعرانة ----- 3429
حي/جعرانة شرق الطريق المؤدى لمسجد جعرانة ----- 3437
حي/جعرانه ----- 3440
حي/جعرانه على يسار الذاهب لمسجد الجعرانه ----- 3453
حي/جعرانه يسار الذاهب لمسجد الجعرانه من الشرائع ----- 3456
حي/جنوب الحسينية ----- 3458
حي/جنوب العزيزية ----- 3469
حي/جنوب العزيزية الاضافات ----- 3482
حي/جنوب العزيزية العوالى ----- 3490
حي/جنوب العزيزية العوالى المعتمد ----- 3503
حي/جنوب العزيزية المعدل ----- 3513
حي/جنوب العزيزية رقم 1 ----- 3520
حي/جنوب العزيزية رقم 1 العوالى ----- 3529
حي/جنوب العزيزية على خط الاسفلت العام رقم واحد ----- 3540
حي/جنوب العزيزية على خط الاسفلت رقم واحد ----- 3552
حي/جنوب العزيزية مخطط الامير فواز ----- 3558
حي/جنوب العزيزيه ----- 3562
حي/جنوب المسفلة جزئى 10و11 ----- 3575
حي/جنوب المسفلة جزائى 10/ 11 ----- 3585
حي/جنوب المسفلة رقم 10/ 11 ----- 3588
حي/جنوب المسفلة رقم 2 ----- 3590
حي/جنوب المسفلة رقم 2 الكعكية ----- 3602
حي/جنوب المسفلة رقم واحد ----- 3613
حي/جنوب المسفلة رقم واحد المعتمد ----- 3615
حي/جنوب خط الخواجات شرق طريق الليث بأم الراكة ----- 3617
حي/جنوب خط الخواجات غرب جبل التناعيم بالدحال السود ----- 3619
حي/جنوب محطة الهاشم يمين الذاهب الى الطائف طريق السيل ----- 3622
حي/جنوب مكة المكرمة حارة دعد ----- 3625
حي/جياد ----- 3627
حي/حارة اكلب من محلة المعابدة ----- 3630
حي/حارة الباب بعلو جبل الحفائر ----- 3632
حي/حارة الحروب غرب العمرة التنعيم ----- 3634
حي/حارة الدعاجين بحارة المعابدة ----- 3636
حي/حارة خميم خلف مواقف سيارات حجاج البر بكدى ----- 3638
حي/حداء على يمين الذاهب الى جده ----- 3642
حي/حوض البقر بحى العزيزية محبس الجن ----- 3645
حي/حى الزهور جنوب مخطط الشوقية ----- 3647
حي/حى العزيزية ----- 3649
حي/حى العزيزية الضفة الغربية ----- 3652
حي/حى المسرات يمين الذاهب الى مسجد الجعرانة ----- 3655
حي/خلف المدرسة بالعزيزية ----- 3657
حي/خلف شارع المنصور ----- 3661
حي/خمسة للورش ----- 3664
حي/خندمة ----- 3666
حي/دحلة الضبع غرب جبل النور ----- 3668
حي/دحلة محبس الجن المعدل ----- 3670
حي/درب جدة القديم امتداد حى الزاهر ----- 3672
حي/درب حدة القديم امتداد حى الزاهر ----- 3675
حي/درة السبهانى ----- 3677
حي/دقم الوبر ----- 3686
حي/ربوة الشرائع ----- 3688
حي/ربوة كدى ----- 3690
حي/ربوة كدى بالمسفلة ----- 3702
حي/ربوة مكة ----- 3706
حي/ربوة مكه ----- 3714
حي/رقم خمسة المعدل للورش ----- 3727
حي/روابى جياد المعدل ----- 3733
حي/روابى كدى ----- 3736
حي/ريع الحجون السليمانية ----- 3739
حي/ريع الكحل ----- 3742
حي/ريع المسكين من محلة المعابدة ----- 3745
حي/ريع بخش ----- 3747
حي/ريع بخش باجياد ----- 3755
حي/ريع ذاخر ----- 3759
حي/ريع ذاخر بالمعابدة ----- 3763
حي/ريع ذاخر على يمين الذاهب لشارع الحج ----- 3766
حي/زاوية بن علوان المعلا ----- 3768
حي/زهرة العمرة رقم 9 ----- 3771
حي/سليمان الحمد ----- 3784
حي/شارع الحج ----- 3791
حي/شارع الحج السفيانى ----- 3801
حي/شارع المنصور ----- 3803
حي/شارع المنصور الهنداوية ----- 3808
حي/شارع ام القرى ----- 3810
حي/شارع منصور خلف عبدالغنى الصائغ ----- 3812
حي/شرائع 11 ----- 3814
حي/شرائع المجاهدين ----- 3821
حي/شرائع المجاهدين 2 ----- 3834
حي/شرائع المجاهدين 3 ----- 3847
حي/شرائع المجاهدين رقم ( 4 ) ----- 3858
حي/شرائع المجاهدين رقم 1 ----- 3860
حي/شرائع المجاهدين رقم 1 المعدل ----- 3872
حي/شرائع المجاهدين رقم 13 ----- 3875
حي/شرائع المجاهدين رقم 2 ----- 3877
حي/شرائع المجاهدين رقم 2 الدرجة الثالثة ----- 3890
حي/شرائع المجاهدين رقم 2 المعدل ----- 3901
حي/شرائع المجاهدين رقم 2 جزء مخطط ----- 3909
حي/شرائع المجاهدين رقم 2 درجتها الأولى ----- 3911
حي/شرائع المجاهدين رقم 2 درجتها الثالثة ----- 3915
حي/شرائع المجاهدين رقم 2 ودرجتها الثالثة ----- 3918
حي/شرائع المجاهدين رقم 2ودرجتها الثانية ----- 3921
حي/شرائع المجاهدين رقم 3 ----- 3931
حي/شرائع المجاهدين رقم 3 درجتها الثالثة ----- 3943
حي/شرائع المجاهدين رقم 3 ودرجتها الثانية ----- 3953
حي/شرائع المجاهدين رقم 4 ----- 3962
حي/شرائع المجاهدين رقم 4 درجتها الاولى ----- 3975
حي/شرائع المجاهدين رقم 4 ودرجتها الثالثة ----- 3980
حي/شرائع المجاهدين رقم 4درجتها الثانية ----- 3993
حي/شرائع المجاهدين رقم 5 ----- 4002
حي/شرائع المجاهدين رقم 5 المعدل ----- 4012
حي/شرائع المجاهدين رقم 7 ----- 4015
حي/شرائع المجاهدين رقم 7 المعدل ----- 4017
حي/شرائع المجاهدين رقم 8 المعدل ----- 4028
حي/شرائع المجاهدين رقم واحد ----- 4031
حي/شرائع المجاهدين طريق مكة الطائف القديم ----- 4044
حي/شرائع المجاهدين طريق مكة الطائف القديم رقم واحد ----- 4056
حي/شرائع المجاهدين طريق مكة الطائف القديم مخطط رقم 1 ----- 4069
حي/شرائع المجاهدين على يسار الذاهب الى الشرائع ----- 4071
حي/شرائع المجاهدين على يسار الذاهب الى الطائف ----- 4078
حي/شرائع المجاهدين على يسار الذاهب الى الطايف ----- 4084
حي/شرائع المجاهدين ودرجتها الثالثة ----- 4090
حي/شرائع المجاهدين يسار الذاهب للطائف بطريق السيل ----- 4095
حي/شرائع النخل ----- 4098
حي/شرائع رقم 2 ----- 4103
حي/شرائع رقم 3 درجتها الثالثه ----- 4112
حي/شرائعع المجاهدين رقم 2 المعدل ----- 4114
حي/شرايع المجاهدين ----- 4117
حي/شرايع المجاهدين رقم 2 ودرجتها الثالثة ----- 4122
حي/شرايع المجاهدين رقم 3 درجتها الثالثة ----- 4134
حي/شرايع المجاهدين طريق مكة الطائف القديم ----- 4138
حي/شرفه الغزالة اللحيانية غرب طريق العمره ----- 4140
حي/شرق الحسينية ----- 4142
حي/شرق جبل النور ----- 4145
حي/شرق شارع الحج ----- 4148
حي/شرق شارع الحج وادى جليل ----- 4153
حي/شعب بنى هاشم سفح جبل سويدان أعلى مدخل الأنفاق ----- 4155
حي/شعب صايف ----- 4157
حي/شعب عامر ----- 4163
حي/شعب عامر بدحلة الجن ----- 4174
حي/شعب عامر جبل السودان ----- 4176
حي/شعب عامر جبل خندمه ----- 4178
حي/شعبة الحروب غرب عمرة التنعيم ----- 4180
حي/شمال شرق جبل النور ----- 4185
حي/صايف من محلة الزاهر ----- 4187
حي/طريق الليث ----- 4190
حي/طريق الليث مخطط ولى العهد 2 ----- 4193
حي/طريق مكة جدة ----- 4204
حي/طريق منى ----- 4207
حي/طريق وادى فاطمة ----- 4211

حي/طريق وادى فاطمة يمين الذاهب الى وادى فاطمة ----- 4215
حي/عبده خضرى ----- 4217
حي/على يسار الذاهب الى المدينة المنورة مخطط رقم 3 ----- 4220
حي/عمران الواقع بوادى السلولى بطريق اليمن ----- 4224
حي/عين زبيدة ----- 4226
حي/غرب الاسكان المعدل ----- 4228
حي/غرب الحسينية ----- 4240
حي/غرب العزيزية تقسيم 4 ----- 4242
حي/غرب النوارية يسار الذاهب الى وادى فاطمة ----- 4247
حي/غرب حى العزيزية ----- 4249
حي/غرب حى العزيزية بالضفة الغربية تقسيم 4 ----- 4259
حي/غرب حى العزيزية رقم 4 ----- 4261
حي/غرب حى العزيزيه ----- 4265
حي/فصل تداخل امتداد الخالدية 2 مع الرصيفة الجديدة ----- 4274
حي/فيصل بدر ----- 4276
حي/فيصل بدر بالنزهة ----- 4287
حي/فيصل بدر بحى النزهة ----- 4290
حي/قرضه شرق الراشديه ----- 4293
حي/قرية الهاشم ----- 4295
حي/قوز النكاسة ----- 4297
حي/ك ك 1/ 20/ 72 ----- 4301
حي/ك ك 1/ 28/ 4 ----- 4303
حي/كدى ----- 4305
حي/لابا والميسوره ----- 4308
حي/لقيطه شارع الحج ----- 4310
حي/مابين العمرة و المنطقة الصناعية ----- 4312
حي/مابين العمرة والمنطقة الصناعية ----- 4314
حي/مابين العمره والمنطقة الصناعية ----- 4317
حي/محبس الجن ----- 4319
حي/محبس الجن اصافات ----- 4330
حي/محبس الجن اضافات ----- 4333
حي/محبس الجن الاضافى المعدل ----- 4336
حي/محبس الجن الضفة الشمالية ----- 4345
حي/محبس الجن الضفة الشمالية أ مع التكملة ----- 4349
حي/محبس الجن الضفة الشمالية ب ----- 4351
حي/محبس الجن الضفة الشماليه أ ----- 4356
حي/محبس الجن الضفة الشماليه العزيزية ----- 4358
حي/محبس الجن المعدل ----- 4360
حي/محبس الجن المعدل الأضافى والمعتمد ----- 4363
حي/محلة الباب بالحفائر ----- 4365
حي/محلة البحيرات على يسار الذاهب الى وادى فاطمة ----- 4368
حي/محلة الحفائر بجرول ----- 4371
حي/محلة الحفائر من محلة حارة الباب ----- 4373
حي/محلة الحفاير حارة الباب ----- 4375
حي/محلة الزهراء مما يلى الهنداوية ----- 4377
حي/محلة الطندباوى ----- 4379
حي/محلة الطندباوى شارع المنصور ----- 4381
حي/محلة العزيزية الضفة الغربية ----- 4383
حي/محلة الفجيج ----- 4385
حي/محلة المسفلة الكدوة القديمة ----- 4387
حي/محلة المسفلة خلف قهوة الخنكار ----- 4389
حي/محلة المسفلة كدى ----- 4391
حي/محلة المسفلة كدى جبل ابو شدادين ----- 4393
حي/محلة المعابدة الخانسة ----- 4395
حي/محلة المعابدة بالروضة ----- 4397
حي/محلة المعابدة ريع ذاخر ----- 4408
حي/محلة المعابدة شارع الحج ----- 4410
حي/محلة المعابدة شرق شارع الحج ----- 4412
حي/محلة المغمس ----- 4414
حي/محلة النبعة على يمين الذاهب لوادى فاطمة ----- 4416
حي/محلة النبعه ----- 4418
حي/محلة الهنداوية ----- 4420
حي/محلة الهنداوية بجبل الغراب ----- 4424
حي/محلة ام الجود على يسار الذاهب الى جده ----- 4426
حي/محلة جرول ----- 4428
حي/محلة جرول بالحفائر ----- 4430
حي/محلة جرول بالطندباوى ----- 4432
حي/محلة جرول خلف شارع المنصور من الجهة الغربية ----- 4435
حي/محلة شارع المنصور خلف الهلال الاحمر ----- 4437
حي/محلة وادى عرعر ----- 4439
حي/محله شرفه الخلاص بام الدخان ----- 4444
حي/محمد سليم اللحيانى العمرة الجديده ----- 4446
حي/مخطط 3 بالعمرة الجديد ودرجتها الثالثة ----- 4448
حي/مخطط أبو مراغ 3 ----- 4451
حي/مخطط أبو مراغ رقم 2 ----- 4457
حي/مخطط أبى مراغ ----- 4461
حي/مخطط أرض التوانك بالنزهة ----- 4470
حي/مخطط أم القرى ----- 4473
حي/مخطط أم الكتاد ----- 4486
حي/مخطط أمتداد المنطقة الصناعية بحى التنعيم ----- 4497
حي/مخطط اراضى فيصل بدر ----- 4500
حي/مخطط ارض العمره المعدل ----- 4502
حي/مخطط الأمير أحمد بالرصيفة ----- 4504
حي/مخطط الأمير أحمد بالرصيفة المعدل ----- 4511
حي/مخطط الأمير عبدالله الفيصل ----- 4517
حي/مخطط الأمير عبدالله الفيصل الششه ----- 4525
حي/مخطط الامير احمد بن عبدالعزيز ----- 4532
حي/مخطط البحيرات ----- 4534
حي/مخطط البدر بكدى ----- 4542
حي/مخطط البوابة رقم 3 ----- 4549
حي/مخطط البوابة رقم 6 ----- 4562
حي/مخطط البوابة رقم 7 ----- 4574
حي/مخطط البوابة رقم 8 ----- 4581
حي/مخطط البوابة رقم 9 ----- 4592
حي/مخطط البواية رقم8 ----- 4604
حي/مخطط التنعيم رقم 4 ----- 4607
حي/مخطط الحمراء الاضافى المعدل ----- 4611
حي/مخطط الخالدية ----- 4613
حي/مخطط الخالدية المعدل رقم 1 ----- 4620
حي/مخطط الخالدية بجزئية رقم واحد ورقم اثنين ----- 4627
حي/مخطط الخالدية جزء رقم واحد ----- 4630
حي/مخطط الخضراء ----- 4634
حي/مخطط الخضراء المعدل ----- 4637
حي/مخطط الراشدية 2 مجاز ----- 4650
حي/مخطط الراشديه المعدل ----- 4658
حي/مخطط الربوه ----- 4670
حي/مخطط الرصيفة ----- 4673
حي/مخطط الريان ----- 4677
حي/مخطط الزاهر ----- 4690
حي/مخطط السلولى المرحله الأولى المعتمد ----- 4692
حي/مخطط الشرائع 15 للمنح ----- 4695
حي/مخطط الشرائع 4 ----- 4702
حي/مخطط الشرائع 5 ----- 4715
حي/مخطط الشرائع رقم 1 ----- 4725
حي/مخطط الشرائع رقم 13 ----- 4738
حي/مخطط الشرائع رقم 2 ----- 4751
حي/مخطط الشرائع رقم 3 ----- 4753
حي/مخطط الشرائع رقم 4 ----- 4766
حي/مخطط الشرائع رقم 5 ----- 4778
حي/مخطط الشرائع رقم 9 اضافات ----- 4780
حي/مخطط الشرائع رقم سبعة المعتمد ----- 4790
حي/مخطط الشهداء السكنى النموذجى ----- 4793
حي/مخطط الشوقية ----- 4799
حي/مخطط الصبان المعدل ----- 4812
حي/مخطط الضفة الشرقية ج بالعزيزية ----- 4816
حي/مخطط الضفة الغربية تقسيم (4) ----- 4821
حي/مخطط الضفه الغربيه تقسيم (1) ----- 4824
حي/مخطط الضفه الغربيه رقم 4حى العزيزيه ----- 4826
حي/مخطط العدل ----- 4829
حي/مخطط العسيلة ----- 4831
حي/مخطط العسيله ----- 4844
حي/مخطط العمرة 3 ----- 4852
حي/مخطط العمرة المعدل رقم 8 ----- 4854
حي/مخطط العمرة النموذجى رقم ثمانيه ----- 4864
حي/مخطط العمرة رقم 2 ----- 4866
حي/مخطط العمرة رقم 3 ----- 4873
حي/مخطط العمرة رقم 6 ----- 4882
حي/مخطط العمرة رقم 8 ----- 4895
حي/مخطط العمرة رقم 9 زهرة العمرة ----- 4906
حي/مخطط العمره الجديده ----- 4916
حي/مخطط العمره المعدل ----- 4928
حي/مخطط الغسالة رقم 1 المعدل ----- 4934
حي/مخطط الفيحاء ----- 4938
حي/مخطط الفيحاء المعدل ----- 4948
حي/مخطط الكيلو الثانى ----- 4956
حي/مخطط المسفلة ----- 4958
حي/مخطط المسفلة 11/10 ----- 4966
حي/مخطط المسفلة التجميعى والمعدل المروه ----- 4969
حي/مخطط المسفلة الواقع فى جزئى 10 و11 ----- 4974
حي/مخطط المسفلة رقم 12 ----- 4987
حي/مخطط المسفلة رقم 4 ----- 5000
حي/مخطط المشمس ----- 5013
حي/مخطط المعابدة رقم 6 ----- 5021
حي/مخطط المعيصم المعتمد ----- 5028
حي/مخطط المعيصم المعدل ----- 5039
حي/مخطط المنح العمرة خلف شراحيل ----- 5041
حي/مخطط المنح بالعمرة اضافات المعدل ----- 5044
حي/مخطط المنح شارع الحج المعدل ----- 5049
حي/مخطط النخيل ----- 5051
حي/مخطط النزهة النموذجى التكميلى ----- 5064
حي/مخطط النور النموذجى للورش المعتمد ----- 5071
حي/مخطط الورش والمستودعات بام الجود ----- 5075
حي/مخطط امتداد أم الجود منح ----- 5079
حي/مخطط امتداد الخالدية ----- 5081
حي/مخطط امتداد الصرافية ----- 5083
حي/مخطط امتداد المنطقة 3 ----- 5088
حي/مخطط امتداد المنطقة الصناعية أبو كلاب ----- 5091
حي/مخطط امتداد المنطقة الصناعية بالعمرة ----- 5093
حي/مخطط امتداد المنطقة الصناعية بالعمرة 2 ----- 5095
حي/مخطط امتداد المنطقة الصناعية رقم 2 ----- 5102
حي/مخطط امتداد المنطقة الصناعية رقم 2 أبو كلاب ----- 5105
حي/مخطط امتداد المنطقه الصناعيه رقم 3 ابو كلاب ----- 5107
حي/مخطط امتداد منح أبى مراغ ----- 5109
حي/مخطط ايضافات فيصل بدر ----- 5113
حي/مخطط بشم شارع الحج ----- 5116
حي/مخطط بطحاء قريش ----- 5118
حي/مخطط بطحاء قريش اضافات 2 ----- 5131
حي/مخطط بطحاء قريش النموذجى ----- 5133
حي/مخطط بطحاء قريش النموذجى 2 ----- 5136
حي/مخطط تخطيط ارض العمرة معدل ----- 5146
حي/مخطط تقسيم أرض العمرة ----- 5148
حي/مخطط جبل السيده ----- 5152
حي/مخطط جنوب العزيزية ----- 5154
حي/مخطط جنوب العزيزيه المعدل ----- 5162
حي/مخطط جنوب المسفلة 1 ----- 5164
حي/مخطط جنوب المسفلة رقم (2) منح ----- 5171
حي/مخطط جنوب المسفلة رقم 2 المعدل ----- 5173
حي/مخطط حامد السفيانى رقم 1 ----- 5175
حي/مخطط حامد السفيانى رقم 2 ----- 5177
حي/مخطط حامد السفيانى رقم 3 ----- 5181
حي/مخطط حامد السفيانى رقم 3 اضافات ----- 5185
حي/مخطط حامد السفيانى رقم 4 ----- 5189
حي/مخطط حراء ----- 5192
حي/مخطط حى التنعيم رقم 4 ----- 5199
حي/مخطط حى الحمراء ----- 5206
حي/مخطط حى السلامة اضافات ----- 5217
حي/مخطط حى المسفلة رقم 10 المعدل ----- 5221
حي/مخطط خارج مخطط الخضراء ----- 5228
حي/مخطط سليمان الحمد ----- 5230
حي/مخطط شارع الحج ----- 5234
حي/مخطط غرب حى العزيزية ----- 5238
حي/مخطط فيصل بدر المعدل ----- 5242
حي/مخطط مصانع الأجور ----- 5250
حي/مخطط منح الأجور بالعمرة 9 ----- 5252
حي/مخطط منح الراشدية 2 المجاز ----- 5254
حي/مخطط منح الشرائح رقم 12 المعدل ----- 5257
حي/مخطط منح الشرائع رقم 10 المعدل ----- 5260
حي/مخطط منح الشرائع رقم 12 المعدل ----- 5266
حي/مخطط منح العمرة 12 ----- 5274
حي/مخطط منح النوارية رقم 2 ----- 5282
حي/مخطط نبع الخير ----- 5286
حي/مخطط وادى السلولى المعدل المرحلة الأولى ----- 5291
حي/مخطط وادى بنى عمير ----- 5297
حي/مخطط وادى جليل ----- 5299
حي/مخطط ولى العهد 1 ----- 5306
حي/مخطط ولى العهد 9 جزء ب ----- 5319
حي/مخطط ولى العهد رقم 2 ----- 5332
حي/مخطط ولى العهد رقم 5 ----- 5345
حي/مخطط ولى العهد رقم 9 الجزء ها ----- 5358
حي/مخطط ولى العهد رقم 9 جزء أ ----- 5371
حي/مخطط ولى العهد رقم 9 جزء ح ----- 5383
حي/مخطط ولى العهد رقم 9 جزء د ----- 5396
حي/مخطط ولى العهد رقم 9 جزء ز ----- 5405
حي/مخطط ولى العهد رقم 9 جزء ط ----- 5418

حي/مخطط ولى العهد رقم 9 جزء و ----- 5431
حي/مخطط ولى العهد رقم 9 جزء ى ----- 5444
حي/مخطط ولى العهد للمنح 1 ----- 5456
حي/مخطط ولى العهد للمنح 3 ----- 5469
حي/مخطط ولى العهد للمنح 4 ----- 5480
حي/مخطط ولى العهد للمنح 5 ----- 5491
حي/مخطط ولى العهد للمنح 6 ----- 5502
حي/مخطط ولى العهد للمنح 7 ----- 5510
حي/مخطط ولى العهد للمنح 8 ----- 5523
حي/مخطط ولى العهد للمنح رقم 6 ----- 5535
حي/مخطط ولى العهد للمنح رقم 8 ----- 5541
حي/مخطط ولى العهد منح 2 ----- 5549
حي/مرتفعات الخير ----- 5559
حي/مرو خلف ابى مراغ يمين الذاهب لوادى فاطمة ----- 5561
حي/مشرفة الغزالة اللحيانية ----- 5563
حي/مصانع الاجور بالرصيفة ----- 5568
حي/مكة المكرمة ----- 5570
حي/ملقيه ----- 5583
حي/منح اضافات الهنداوية ----- 5585
حي/منح الراشدية رقم 2 ----- 5587
حي/منح الشرائع رقم 10المعدل ----- 5600
حي/منح العمرة 11 المعدل ----- 5604
حي/منطقة الربط بين المسفلة 12المعدل والمسفلة10و11/ 2 ----- 5614
حي/ناصية المعابدة خلف الجعفرية ----- 5618
حي/هجرة ال ردة ----- 5620
حي/هجرة ال رده ----- 5626
حي/واحة العدل ----- 5628
حي/واحة مكة التطويرى الأول المعدل ----- 5631
حي/وادى ابراهيم عليه السلام ----- 5644
حي/وادى الاخضر يسار الذاهب للطائف من طريق الهدا ----- 5647
حي/وادى البحيرات ----- 5649
حي/وادى السلولى المرحلة الاولى ----- 5652
حي/وادى الصدارة طريق الليث ----- 5659
حي/وادى الصدر ----- 5661
حي/وادى الطارقى ----- 5663
حي/وادى القطار جنوب طريق الخواجات ----- 5676
حي/وادى المجارشى ----- 5678
حي/وادى المصدر على يمين الذاهب الى الطائف طريق السيل ----- 5680
حي/وادى المغمس ----- 5682
حي/وادى الهميجة شرق شارع الحج ----- 5686
حي/وادى الوسيق يمين الذاهب للجموم خلف مصانع الاجور ----- 5688
حي/وادى بنى عمير ----- 5693
حي/وادى جليل ----- 5701
حي/وادى جليل اضافات ----- 5713
حي/وادى جليل شرق شارع الحج ----- 5716
حي/وادى رهجان وملكان ----- 5720
حي/وادى شبرم شمال وادى العسيله ----- 5722
حي/وادى شعب شرق شارع الحج ----- 5726
حي/وادى صايف شرق التنعيم ----- 5728
حي/وادى ضجة يمين الذاهب الى الطائف بطريق الهدا ----- 5730
حي/وادى ضيم ----- 5732
حي/وادى ضيم جنوب خط الخواجات ----- 5735
حي/وادى عرعر يمين الذاهب الى الطائف ----- 5740
حي/وادى علق ----- 5743
حي/وادى فخ ----- 5747
حي/وادى مغيث ----- 5749
حي/وادى ملكان ----- 5751
حي/وادى نعمان ----- 5754
حي/وادى ياج شمال مكة المكرمة ----- 5762
حي/والى العهد رقم 3 ----- 5764
حي/ولى العهد 4 ----- 5777
حي/ولى العهد 7 ----- 5790
حي/ولى العهد 8 ----- 5803
حي/ولى العهد 8 المعدل ----- 5815
حي/ولى العهد رقم 1 ----- 5820
حي/ولى العهد رقم 10 ----- 5833
حي/ولى العهد رقم 2 ----- 5845
حي/ولى العهد رقم 3 ----- 5858
حي/ولى العهد رقم 4 ----- 5871
حي/ولى العهد رقم 5 ----- 5884
حي/ولى العهد رقم 6 ----- 5897
حي/ولى العهد رقم 6 المعدل ----- 5910
حي/ولى العهد رقم 7 ----- 5912
حي/ولى العهد رقم 7 المعدل ----- 5925
حي/ولى العهد رقم 7 للمنح ----- 5935
حي/ولى العهد رقم 8 ----- 5944
حي/ولى العهد رقم 8 المعدل ----- 5957
حي/ولى العهد رقم 9 ----- 5969
حي/ولى العهد للمنح 5 ----- 5972
حي/ولى العهد للمنح رقم 1 ----- 5974
حي/ولى العهد للمنح رقم 2 ----- 5980
حي/ولى العهد للمنح رقم 3 ----- 5982
حي/ولى العهد للمنح رقم 4 ----- 5987
حي/ولى العهد للمنح رقم 5 ----- 5992
حي/ولى العهد للمنح رقم 5 المعدل ----- 6001
حي/ولى العهد للمنح رقم 6 ----- 6007
حي/ولى العهد للمنح رقم 7 المعدل ----- 6009
حي/ولى العهد للمنح رقم 8 ----- 6013
حي/ولى العهد للمنح رقم2 ----- 6020
حي/يمين الذاهب الى الليث بمكة المكرمة بطريق الساحل ----- 6027

In [13]:
# number of district
len(list_redundant)

1147

## Defining some repeated code

In [14]:
def year_df(df, yr = "2018", lst = [0,1,2,3,4]):
    """
    input: orignal dataset , set the year of data extracted , list of columns the information to be extracted from
    rturn: dataframe with column names year, month, realstate_cls, realstate_type, price_riyals, area_m2, no_deals
    """
    # select the columns from orignal dataset
    df = df.iloc[:, lst]
    
    # Changing columns name with index number
    df = df.rename(
        columns ={
            df.columns[2]: 'price_riyals',
            df.columns[3]: 'area_m2',
            df.columns[4]: 'no_deals'
        })
    
    # set the year for data extracted
    df.insert(loc = 0, column= 'year', value= yr)
    
    # due to removing some row
    df.reset_index(inplace = True)
    
    # returning the processed data 
    return df.drop(df.columns[0], axis=1)

### 1- Get 2018 data from orignal database

In [15]:
df = year_df(df_Makkah, yr = "2018", lst = [0,1,2,3,4])
df.head(20)

,year,month,district,price_riyals,area_m2,no_deals
0,2018,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN
1,2018,NaN,,NaN,NaN,NaN
2,2018,المدينة,,مكة المكرمة,NaN,NaN
3,2018,حالة العملية(معتمدة/ملغية/..),,معتمدة,NaN,NaN
4,2018,NaN,,NaN,NaN,NaN
5,2018,NaN,,NaN,NaN,NaN
6,2018,NaN,,2018,NaN,NaN
7,2018,الأحياء,,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات
8,2018,حي/1/ 20/ 27,,550000,550,1
9,2018,يناير,حي/1/ 20/ 27,NaN,NaN,NaN
10,2018,يوليو,حي/1/ 20/ 27,NaN,NaN,NaN
11,2018,اوغسطس,حي/1/ 20/ 27,NaN,NaN,NaN
12,2018,نوفمبر,حي/1/ 20/ 27,550000,550,1
13,2018,حي/1/ 29/ 10/ أ,,NaN,NaN,NaN
14,2018,يناير,حي/1/ 29/ 10/ أ,NaN,NaN,NaN
15,2018,حي/1/ 32/ 1,,NaN,NaN,NaN
16,2018,مارس,حي/1/ 32/ 1,NaN,NaN,NaN
17,2018,حي/1/ 32/ 16/ أ,,NaN,NaN,NaN
18,2018,اوغسطس,حي/1/ 32/ 16/ أ,NaN,NaN,NaN
19,2018,حي/45 بطحاء قريش النموذجى,,2380000,691.45,4

### 2-Get 2019 data from orignal database

In [16]:
df_2019 = year_df(df_Makkah, yr = "2019", lst = [0,1,5,6,7])
df_2019.head(20)

,year,month,district,price_riyals,area_m2,no_deals
0,2019,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN
1,2019,NaN,,NaN,NaN,NaN
2,2019,المدينة,,NaN,NaN,NaN
3,2019,حالة العملية(معتمدة/ملغية/..),,NaN,NaN,NaN
4,2019,NaN,,NaN,NaN,NaN
5,2019,NaN,,NaN,NaN,NaN
6,2019,NaN,,2019,NaN,NaN
7,2019,الأحياء,,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات
8,2019,حي/1/ 20/ 27,,1670000,844,3
9,2019,يناير,حي/1/ 20/ 27,540000,172,1
10,2019,يوليو,حي/1/ 20/ 27,530000,172,1
11,2019,اوغسطس,حي/1/ 20/ 27,600000,500,1
12,2019,نوفمبر,حي/1/ 20/ 27,NaN,NaN,NaN
13,2019,حي/1/ 29/ 10/ أ,,NaN,NaN,NaN
14,2019,يناير,حي/1/ 29/ 10/ أ,NaN,NaN,NaN
15,2019,حي/1/ 32/ 1,,NaN,NaN,NaN
16,2019,مارس,حي/1/ 32/ 1,NaN,NaN,NaN
17,2019,حي/1/ 32/ 16/ أ,,NaN,NaN,NaN
18,2019,اوغسطس,حي/1/ 32/ 16/ أ,NaN,NaN,NaN
19,2019,حي/45 بطحاء قريش النموذجى,,NaN,NaN,NaN

### 3-Get 2020 data from orignal database

In [17]:
df_2020 = year_df(df_Makkah, yr = "2020", lst = [0,1,8,9,10])
df_2020.head(20)

,year,month,district,price_riyals,area_m2,no_deals
0,2020,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN
1,2020,NaN,,NaN,NaN,NaN
2,2020,المدينة,,NaN,NaN,NaN
3,2020,حالة العملية(معتمدة/ملغية/..),,NaN,NaN,NaN
4,2020,NaN,,NaN,NaN,NaN
5,2020,NaN,,NaN,NaN,NaN
6,2020,NaN,,2020,NaN,NaN
7,2020,الأحياء,,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات
8,2020,حي/1/ 20/ 27,,1132313,460,1
9,2020,يناير,حي/1/ 20/ 27,NaN,NaN,NaN
10,2020,يوليو,حي/1/ 20/ 27,1132313,460,1
11,2020,اوغسطس,حي/1/ 20/ 27,NaN,NaN,NaN
12,2020,نوفمبر,حي/1/ 20/ 27,NaN,NaN,NaN
13,2020,حي/1/ 29/ 10/ أ,,1550000,612.5,1
14,2020,يناير,حي/1/ 29/ 10/ أ,1550000,612.5,1
15,2020,حي/1/ 32/ 1,,NaN,NaN,NaN
16,2020,مارس,حي/1/ 32/ 1,NaN,NaN,NaN
17,2020,حي/1/ 32/ 16/ أ,,300000,600,1
18,2020,اوغسطس,حي/1/ 32/ 16/ أ,300000,600,1
19,2020,حي/45 بطحاء قريش النموذجى,,1390000,368.91,2

### 4-Get 2021 data from orignal database

In [18]:
df_2021 = year_df(df_Makkah, yr = "2021", lst = [0,1,11,12,13])
df_2021.head(20)

,year,month,district,price_riyals,area_m2,no_deals
0,2021,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN
1,2021,NaN,,NaN,NaN,NaN
2,2021,المدينة,,NaN,NaN,NaN
3,2021,حالة العملية(معتمدة/ملغية/..),,NaN,NaN,NaN
4,2021,NaN,,NaN,NaN,NaN
5,2021,NaN,,NaN,NaN,NaN
6,2021,NaN,,2021,NaN,NaN
7,2021,الأحياء,,السعر بالريال السعودي,المساحة بالمتر المربع,عدد الصفقات
8,2021,حي/1/ 20/ 27,,NaN,NaN,NaN
9,2021,يناير,حي/1/ 20/ 27,NaN,NaN,NaN
10,2021,يوليو,حي/1/ 20/ 27,NaN,NaN,NaN
11,2021,اوغسطس,حي/1/ 20/ 27,NaN,NaN,NaN
12,2021,نوفمبر,حي/1/ 20/ 27,NaN,NaN,NaN
13,2021,حي/1/ 29/ 10/ أ,,1700000,612.5,1
14,2021,يناير,حي/1/ 29/ 10/ أ,1700000,612.5,1
15,2021,حي/1/ 32/ 1,,800000,721.8,1
16,2021,مارس,حي/1/ 32/ 1,800000,721.8,1
17,2021,حي/1/ 32/ 16/ أ,,NaN,NaN,NaN
18,2021,اوغسطس,حي/1/ 32/ 16/ أ,NaN,NaN,NaN
19,2021,حي/45 بطحاء قريش النموذجى,,NaN,NaN,NaN

### join all extract data for years 2018 2019 2020 2021

In [19]:
df = df.append(df_2019)
df = df.append(df_2020)
df = df.append(df_2021)

In [20]:
# check the size of new data
df.shape

(24116, 6)

In [21]:
# check for first five rows
df.head()

,year,month,district,price_riyals,area_m2,no_deals
0,2018,المؤشر العقاري للأحياء بمدينة مكة المكرمة في...,,NaN,NaN,NaN
1,2018,NaN,,NaN,NaN,NaN
2,2018,المدينة,,مكة المكرمة,NaN,NaN
3,2018,حالة العملية(معتمدة/ملغية/..),,معتمدة,NaN,NaN
4,2018,NaN,,NaN,NaN,NaN

In [22]:
# current statistics of data 
df.describe(include="all")

         year   month district  price_riyals  area_m2  no_deals
count   24116   24100    24116         10710    10704     10704
unique      4    1163     1148          4292     7009       142
top      2018  فبراير                 100000      400         1
freq     6029    1888     4620           266      357      5245

In [23]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24116 entries, 0 to 6028
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          24116 non-null  object
 1   month         24100 non-null  object
 2   district      24116 non-null  object
 3   price_riyals  10710 non-null  object
 4   area_m2       10704 non-null  object
 5   no_deals      10704 non-null  object
dtypes: object(6)
memory usage: 1.3+ MB

## Now clean redundant data and empty cells

In [24]:
# save redundant data for future use
df_redundant = df[df.index.isin(list_redundant)]
df_redundant

,year,month,district,price_riyals,area_m2,no_deals
8,2018,حي/1/ 20/ 27,,550000,550,1
13,2018,حي/1/ 29/ 10/ أ,,NaN,NaN,NaN
15,2018,حي/1/ 32/ 1,,NaN,NaN,NaN
17,2018,حي/1/ 32/ 16/ أ,,NaN,NaN,NaN
19,2018,حي/45 بطحاء قريش النموذجى,,2380000,691.45,4
...,...,...,...,...,...,...
6007,2021,حي/ولى العهد للمنح رقم 6,,620000,594,2
6009,2021,حي/ولى العهد للمنح رقم 7 المعدل,,300000,280,1
6013,2021,حي/ولى العهد للمنح رقم 8,,1880000,2562.28,7
6020,2021,حي/ولى العهد للمنح رقم2,,1600000,1495.09,3
6027,2021,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,,NaN,NaN,NaN

In [25]:
# get cleaned data 
df = df[df.month.isin(months_names)]
df

,year,month,district,price_riyals,area_m2,no_deals
9,2018,يناير,حي/1/ 20/ 27,NaN,NaN,NaN
10,2018,يوليو,حي/1/ 20/ 27,NaN,NaN,NaN
11,2018,اوغسطس,حي/1/ 20/ 27,NaN,NaN,NaN
12,2018,نوفمبر,حي/1/ 20/ 27,550000,550,1
14,2018,يناير,حي/1/ 29/ 10/ أ,NaN,NaN,NaN
...,...,...,...,...,...,...
6023,2021,ابريل,حي/ولى العهد للمنح رقم2,900000,880.09,2
6024,2021,سبتمبر,حي/ولى العهد للمنح رقم2,NaN,NaN,NaN
6025,2021,نوفمبر,حي/ولى العهد للمنح رقم2,NaN,NaN,NaN
6026,2021,ديسمبر,حي/ولى العهد للمنح رقم2,NaN,NaN,NaN
6028,2021,يوليو,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,NaN,NaN,NaN

### Convert column to appropriate data type

In [26]:
# السعر بالريال السعودي
# fill none value with zeros
df['price_riyals'] = df['price_riyals'].fillna(0).astype(np.int64)

# المساحة بالمتر المربع
# fill none value with zeros
df['area_m2'] = df['area_m2'].fillna(0.0).astype(float)

# عدد الصفقات
# fill none value with zeros
df['no_deals'] = df['no_deals'].fillna(0).astype(int)

### Adding addtional information to database

In [27]:
# adding city name
df.insert(loc = 2, column= 'city', value= df_city_name)

# adding تصنيف العقار
df.insert(loc = 3, column= 'realstate_cls', value= '')

# adding نوع العقار
df.insert(loc = 4, column= 'realstate_type', value= '')

# adding حالة العملية(معتمدة/ملغية/..)
df.insert(loc = 7, column= 'status', value = df_status)

# fill nan in string with empty 
df.fillna('', inplace=True)

### Explore modified dataset

In [28]:
# check for first five rows
df.head()

,year,month,city,realstate_cls,realstate_type,district,price_riyals,status,area_m2,no_deals
9,2018,يناير,مكة المكرمة,,,حي/1/ 20/ 27,0,معتمدة,0.0,0
10,2018,يوليو,مكة المكرمة,,,حي/1/ 20/ 27,0,معتمدة,0.0,0
11,2018,اوغسطس,مكة المكرمة,,,حي/1/ 20/ 27,0,معتمدة,0.0,0
12,2018,نوفمبر,مكة المكرمة,,,حي/1/ 20/ 27,550000,معتمدة,550.0,1
14,2018,يناير,مكة المكرمة,,,حي/1/ 29/ 10/ أ,0,معتمدة,0.0,0

In [29]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19496 entries, 9 to 6028
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            19496 non-null  object
 1   month           19496 non-null  object
 2   city            19496 non-null  object
 3   realstate_cls   19496 non-null  object
 4   realstate_type  19496 non-null  object
 5   district        19496 non-null  object
 6   price_riyals    19496 non-null  int64
 7   status          19496 non-null  object
 8   area_m2         19496 non-null  float64
 9   no_deals        19496 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 1.6+ MB

In [30]:
# check size of data
df.shape

(19496, 10)

### Rearranging dataset in final shape
#### Complete information with missing values

In [31]:
df_names = [
    "year",          # العام
    "month",         # الشهر
    "city",          # المدينة
    "district",      # الأحياء
    "price_riyals",  # السعر بالريال السعودي
    "area_m2",       # المساحة بالمتر المربع
    "no_deals",      # عدد الصفقات
    "status",        # حالة العملية(معتمدة/ملغية/..)
    "realstate_cls", # تصنيف العقار
    "realstate_type" # نوع العقار
]

In [32]:
# Rearranging columns orders
df = df[df_names]

In [33]:
# check the modification
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
9,2018,يناير,مكة المكرمة,حي/1/ 20/ 27,0,0.0,0,معتمدة,,
10,2018,يوليو,مكة المكرمة,حي/1/ 20/ 27,0,0.0,0,معتمدة,,
11,2018,اوغسطس,مكة المكرمة,حي/1/ 20/ 27,0,0.0,0,معتمدة,,
12,2018,نوفمبر,مكة المكرمة,حي/1/ 20/ 27,550000,550.0,1,معتمدة,,
14,2018,يناير,مكة المكرمة,حي/1/ 29/ 10/ أ,0,0.0,0,معتمدة,,

In [34]:
# check the datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19496 entries, 9 to 6028
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            19496 non-null  object
 1   month           19496 non-null  object
 2   city            19496 non-null  object
 3   district        19496 non-null  object
 4   price_riyals    19496 non-null  int64
 5   area_m2         19496 non-null  float64
 6   no_deals        19496 non-null  int32
 7   status          19496 non-null  object
 8   realstate_cls   19496 non-null  object
 9   realstate_type  19496 non-null  object
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 1.6+ MB

### Rearranging dataset in final shape
#### information with no missing values

In [35]:
# if price equal to zero and
#    area equal to zero and
#    number of deals equal to zero then drop those rows
df_m = df[(df.price_riyals > 0) & (df.area_m2 > 0) & (df.no_deals > 0)]

In [36]:
# check the modification
df_m.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
12,2018,نوفمبر,مكة المكرمة,حي/1/ 20/ 27,550000,550.00,1,معتمدة,,
21,2018,فبراير,مكة المكرمة,حي/45 بطحاء قريش النموذجى,700000,161.82,1,معتمدة,,
22,2018,مارس,مكة المكرمة,حي/45 بطحاء قريش النموذجى,300000,135.33,1,معتمدة,,
23,2018,ابريل,مكة المكرمة,حي/45 بطحاء قريش النموذجى,1380000,394.30,2,معتمدة,,
25,2018,فبراير,مكة المكرمة,حي/أبو مراغ,550000,394.00,1,معتمدة,,

In [37]:
# if any other columns has missing values drop this column
#df_m = df_m.dropna(axis='columns')

In [38]:
# check the modification
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8152 entries, 12 to 6023
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            8152 non-null   object
 1   month           8152 non-null   object
 2   city            8152 non-null   object
 3   district        8152 non-null   object
 4   price_riyals    8152 non-null   int64
 5   area_m2         8152 non-null   float64
 6   no_deals        8152 non-null   int32
 7   status          8152 non-null   object
 8   realstate_cls   8152 non-null   object
 9   realstate_type  8152 non-null   object
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 668.7+ KB

## Saving the cleaning data in other format:
#### Complete information with missing values

In [39]:
# 1- saving complete dataset with missing values as excel file
df.to_excel(excel_writer = "xlsx/Makkah.xlsx", sheet_name='Makkah', index=False)

In [40]:
# 2- saving complete dataset with missing values as csv file
df.to_csv("csv/Makkah.csv", header=True, index=False, encoding='utf_8_sig')

In [41]:
# 3- saving complete dataset with missing values as json file
with open("json/Makkah.json", "w") as write_file:
    json.dump(
        df.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

## Saving the cleaning data in other format:
#### Information with no missing values

In [42]:
# 1- saving dataset with no missing values as excel file
df_m.to_excel(excel_writer = "xlsx/Makkah_m.xlsx", sheet_name='Makkah', index=False)

In [43]:
# 2- saving dataset with no missing values as csv file
df_m.to_csv("csv/Makkah_m.csv", header=True, index=False, encoding='utf_8_sig')

In [44]:
# 3- saving dataset with no missing values as json file
with open("json/Makkah_m.json", "w") as write_file:
    json.dump(
        df_m.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )